{% extends app.request.isXmlHttpRequest ? '@WebProfiler/Profiler/ajax_layout.html.twig' : '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {# This toolbar item may appear along the top or bottom of the screen.#}
    {% set icon %}
        <span class="icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
            <g><path fill="#AAAAAA" d="M990,380.4c-17.6,17.2-37.6,36.8-59.3,58C831.3,309.2,675.4,226,500,226c-175.4,0-331.3,83.2-430.7,212.3c-21.7-21.2-41.7-40.8-59.3-58c114.7-144.3,291.5-236.9,490-236.9C698.5,143.5,875.3,236.1,990,380.4z M500,308.6c152.3,0,287.3,73.9,371.3,187.9c-19.7,19.2-40,39.1-60.5,59.2c-68.2-97.5-181.2-161.3-309.2-161.3c-128.7,0-242.4,64.6-310.5,163.2c-21.2-20.7-42.2-41.3-62.5-61.1C212.7,382.5,347.7,308.6,500,308.6z M503.3,476.9c104.5,0,196.3,54.2,249.1,136c-20.5,20.1-40.9,40-60.6,59.2c-36.2-67.1-107-112.7-188.5-112.7c-83.2,0-155.3,47.6-190.7,117c-19.8-19.3-40.2-39.3-60.9-59.6C304.1,532.8,397.1,476.9,503.3,476.9z M503.3,691.4c45.5,0,82.4,36.9,82.4,82.5c0,45.6-36.9,82.5-82.4,82.5c-45.5,0-82.4-36.9-82.4-82.5C420.9,728.4,457.8,691.4,503.3,691.4z"/></g>
            </svg>
        </span>
        <span class="sf-toolbar-value">{{ collector.requests|length }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <div class="sf-toolbar-info-piece">
                <b>Guzzle requests</b>
                <span class="sf-toolbar-status">{{ collector.requests|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Informational</b>
                <span class="sf-toolbar-status">{{ collector.informational }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Success</b>
                <span class="sf-toolbar-status {% if collector.success > 0 %}sf-toolbar-status-green{% endif %}">{{ collector.success }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Redirection</b>
                <span class="sf-toolbar-status">{{ collector.redirection }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Client Error</b>
                <span class="sf-toolbar-status {% if collector.clientError > 0 %}sf-toolbar-status-red{% endif %}">{{ collector.clientError }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Server Error</b>
                <span class="sf-toolbar-status">{{ collector.serverError }}</span>
            </div>
        </div>
    {% endset %}

    {# Set the "link" value to false if you do not have a big "panel"
       section that you want to direct the user to. #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}

{% endblock %}

{% block head %}
    {# Optional, if you need your own JS or CSS files. #}
    {{ parent() }} {# Use parent() to keep the default styles #}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                <g><path fill="#AAAAAA" d="M990,380.4c-17.6,17.2-37.6,36.8-59.3,58C831.3,309.2,675.4,226,500,226c-175.4,0-331.3,83.2-430.7,212.3c-21.7-21.2-41.7-40.8-59.3-58c114.7-144.3,291.5-236.9,490-236.9C698.5,143.5,875.3,236.1,990,380.4z M500,308.6c152.3,0,287.3,73.9,371.3,187.9c-19.7,19.2-40,39.1-60.5,59.2c-68.2-97.5-181.2-161.3-309.2-161.3c-128.7,0-242.4,64.6-310.5,163.2c-21.2-20.7-42.2-41.3-62.5-61.1C212.7,382.5,347.7,308.6,500,308.6z M503.3,476.9c104.5,0,196.3,54.2,249.1,136c-20.5,20.1-40.9,40-60.6,59.2c-36.2-67.1-107-112.7-188.5-112.7c-83.2,0-155.3,47.6-190.7,117c-19.8-19.3-40.2-39.3-60.9-59.6C304.1,532.8,397.1,476.9,503.3,476.9z M503.3,691.4c45.5,0,82.4,36.9,82.4,82.5c0,45.6-36.9,82.5-82.4,82.5c-45.5,0-82.4-36.9-82.4-82.5C420.9,728.4,457.8,691.4,503.3,691.4z"/></g>
            </svg>
        </span>
        <strong>Guzzle</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Guzzle requests</h2>
    {% if collector.requests|length == 0 %}
        <p>
            <em>No requests sent.</em>
        </p>
    {% else %}
        <ul class="alt">
            {% for i, request in collector.requests %}
                <li class="{{ i is odd ? 'odd' : 'even' }} {% if not request.isSuccess %}error{% endif %}">
                    <div>
                        <h3>General</h3>
                        <table>
                            <tr>
                                <th>Url</th>
                                <td>{{ request.url }}</td>
                            </tr>
                            <tr>
                                <th>Request Method</th>
                                <td>{{ request.method }}</td>
                            </tr>
                            <tr>
                                <th>Status Code</th>
                                <td>{{ request.statusCode }}</td>
                            </tr>
                            <tr>
                                <th>Reason Phrase</th>
                                <td>{{ request.reasonPhrase }}</td>
                            </tr>
                        </table>
                        <h3>Request Headers</h3>
                        <table>
                            {% for key, value in request.requestHeaders %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value|json_encode }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <h3>Request Body</h3>
                        <pre>{{ request.requestBody }}</pre>
                        <h3>Response Headers</h3>
                        <table>
                            {% for key, value in request.responseHeaders %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value|json_encode }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <h3>Response Body</h3>
                        <pre>{{ request.responseBody }}</pre>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
