{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {# This toolbar item may appear along the top or bottom of the screen.#}
    {% set icon %}
        <span class="icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="#AAAAAA" d="m11.453518,7.463421c0,0.302098 -0.238898,0.537204 -0.543019,0.537204l-5.68223,0c-0.306143,0 -0.543019,-0.235106 -0.543019,-0.537204l0,-4.791609c0,-0.302098 0.237128,-0.537204 0.543019,-0.537204l5.68223,0c0.304121,0 0.543019,0.235106 0.543019,0.537204l0,4.791609zm6.62417,0.612034c-0.718969,-0.158001 -0.979608,-0.527345 -0.979608,-0.867111l0,-1.238224c0,0 0.478049,0.106682 0.592568,0.13626c0.233083,0.061178 0.381225,0.41864 0.38704,0.730851c0.007837,0.311958 0,1.238224 0,1.238224zm1.447544,7.522881c0,-0.011882 -0.199461,-1.520857 -0.199461,-1.520857l0,-6.967728c0,-0.746524 -0.244965,-1.352996 -0.750569,-1.862392l-3.227017,-3.211344c-0.223224,0 -0.839303,0.614309 -0.839303,0.614309c0,0.223224 1.601753,1.813096 1.601753,1.813096l-0.047527,2.703717c0,0.959889 0.780147,1.738014 1.743828,1.738014l0.432544,0.005814l-0.153956,5.166767l0.215387,1.771636l0.969748,5.227945c0.035645,0.849162 -0.74071,1.354766 -1.352996,1.354766c-0.566782,0 -1.224573,-0.468189 -1.224573,-1.072386l0.011882,-9.162049c0,-1.113846 -0.904525,-2.018371 -2.018371,-2.018371c0,0 -1.937474,0 -1.947334,0c0.13626,-0.007837 0.142075,-6.000002 0.142075,-7.272102c0,-0.150164 0,-0.235106 0,-0.235106c0,-1.084268 -0.884807,-1.967052 -1.971097,-1.967052l-5.681977,0c-1.08629,0 -1.971097,0.882785 -1.971097,1.967052l0,20.767177l9.624171,0.160024l0.009859,-12.132472l1.817141,0c0.416618,0 0.756384,0.339766 0.756384,0.756384l0,9.136516c0,1.226595 1.145446,2.301004 2.452938,2.301004c1.234432,0 2.617006,-0.98163 2.617006,-2.301004c-0.021741,-0.304374 -1.009438,-5.761357 -1.009438,-5.761357z"></path>
            </svg>
        </span>
        <span class="sf-toolbar-status">{{ collector.requests|length }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <div class="sf-toolbar-info-piece">
                <b>Guzzle requests</b>
                <span class="sf-toolbar-status">{{ collector.requests|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Informational</b>
                <span class="sf-toolbar-status">{{ collector.informational }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Success</b>
                <span class="sf-toolbar-status {% if collector.success > 0 %}sf-toolbar-status-green{% endif %}">{{ collector.success }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Redirection</b>
                <span class="sf-toolbar-status">{{ collector.redirection }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Client Error</b>
                <span class="sf-toolbar-status {% if collector.clientError > 0 %}sf-toolbar-status-red{% endif %}">{{ collector.clientError }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Server Error</b>
                <span class="sf-toolbar-status">{{ collector.serverError }}</span>
            </div>
        </div>
    {% endset %}

    {# Set the "link" value to false if you do not have a big "panel"
       section that you want to direct the user to. #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}

{% endblock %}

{% block head %}
    {# Optional, if you need your own JS or CSS files. #}
    {{ parent() }} {# Use parent() to keep the default styles #}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="#AAAAAA" d="m11.453518,7.463421c0,0.302098 -0.238898,0.537204 -0.543019,0.537204l-5.68223,0c-0.306143,0 -0.543019,-0.235106 -0.543019,-0.537204l0,-4.791609c0,-0.302098 0.237128,-0.537204 0.543019,-0.537204l5.68223,0c0.304121,0 0.543019,0.235106 0.543019,0.537204l0,4.791609zm6.62417,0.612034c-0.718969,-0.158001 -0.979608,-0.527345 -0.979608,-0.867111l0,-1.238224c0,0 0.478049,0.106682 0.592568,0.13626c0.233083,0.061178 0.381225,0.41864 0.38704,0.730851c0.007837,0.311958 0,1.238224 0,1.238224zm1.447544,7.522881c0,-0.011882 -0.199461,-1.520857 -0.199461,-1.520857l0,-6.967728c0,-0.746524 -0.244965,-1.352996 -0.750569,-1.862392l-3.227017,-3.211344c-0.223224,0 -0.839303,0.614309 -0.839303,0.614309c0,0.223224 1.601753,1.813096 1.601753,1.813096l-0.047527,2.703717c0,0.959889 0.780147,1.738014 1.743828,1.738014l0.432544,0.005814l-0.153956,5.166767l0.215387,1.771636l0.969748,5.227945c0.035645,0.849162 -0.74071,1.354766 -1.352996,1.354766c-0.566782,0 -1.224573,-0.468189 -1.224573,-1.072386l0.011882,-9.162049c0,-1.113846 -0.904525,-2.018371 -2.018371,-2.018371c0,0 -1.937474,0 -1.947334,0c0.13626,-0.007837 0.142075,-6.000002 0.142075,-7.272102c0,-0.150164 0,-0.235106 0,-0.235106c0,-1.084268 -0.884807,-1.967052 -1.971097,-1.967052l-5.681977,0c-1.08629,0 -1.971097,0.882785 -1.971097,1.967052l0,20.767177l9.624171,0.160024l0.009859,-12.132472l1.817141,0c0.416618,0 0.756384,0.339766 0.756384,0.756384l0,9.136516c0,1.226595 1.145446,2.301004 2.452938,2.301004c1.234432,0 2.617006,-0.98163 2.617006,-2.301004c-0.021741,-0.304374 -1.009438,-5.761357 -1.009438,-5.761357z"></path>
            </svg>
        </span>
        <strong>Guzzle</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Guzzle requests</h2>
    {% if collector.requests|length == 0 %}
        <p>
            <em>No requests sent.</em>
        </p>
    {% else %}
        <ul class="alt">
            {% for i, request in collector.requests %}
                <li class="{{ i is odd ? 'odd' : 'even' }} {% if not request.isSuccess %}error{% endif %}">
                    <div>
                        <h3>General</h3>
                        <table>
                            <tr>
                                <th>Url</th>
                                <td>{{ request.url }}</td>
                            </tr>
                            <tr>
                                <th>Request Method</th>
                                <td>{{ request.method }}</td>
                            </tr>
                            <tr>
                                <th>Status Code</th>
                                <td>{{ request.statusCode }}</td>
                            </tr>
                            <tr>
                                <th>Reason Phrase</th>
                                <td>{{ request.reasonPhrase }}</td>
                            </tr>
                        </table>
                        <h3>Request Headers</h3>
                        <table>
                            {% for key, value in request.requestHeaders %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value|json_encode }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <h3>Request Body</h3>
                        <pre>{{ request.requestBody }}</pre>
                        <h3>Response Headers</h3>
                        <table>
                            {% for key, value in request.responseHeaders %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value|json_encode }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <h3>Response Body</h3>
                        <pre>{{ request.responseBody }}</pre>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
